<%- include('../partials/header.ejs') %>

<div class="content">
    <form method="POST" action="/events/<%= event._id %>?_method=PUT" class="class_editform" enctype="multipart/form-data"> 

        <div class="form-column">
            <label for="category">Category:</label>
            <select id="category" name="category" required>
                <option value="Physical Health" <%= event.category === "Physical Health" ? "selected" : "" %>>Physical Health</option>
                <option value="Fitness" <%= event.category === "Fitness" ? "selected" : "" %>>Fitness</option>
                <option value="Nutrition" <%= event.category === "Nutrition" ? "selected" : "" %>>Nutrition</option>
                <option value="Mental Health" <%= event.category === "Mental Health" ? "selected" : "" %>>Mental Health</option>
                <option value="Disease Prevention" <%= event.category === "Disease Prevention" ? "selected" : "" %>>Disease Prevention</option>
                <option value="Other" <%= event.category === "Other" ? "selected" : "" %>>Other</option>
            </select>
        </div>
        <br><br>
        <div class="form-column">
            <label for="title">Title :</label>
            <input type="text" name="title" id="title" value="<%= event.title %>" required>
        </div>
        <br><br>
        <div class="form-column">
            <label for="description">Event Description:</label>
            <input type="text" name="description" id="description" value="<%= event.description %>" required>
        </div>
        <br><br>
        <div class="form-column">
            <label for="startDate">Start Date:</label>
            <input type="datetime-local" name="startDate" id="startDate" value="<%= event.startDate %>" required>
        </div>
        <br><br>
        <div class="form-column">
            <label for="endDate">End Date:</label>
            <input type="datetime-local" name="endDate" id="endDate" value="<%= event.endDate %>" required>
        </div>
        <br><br>
        <div class="form-column">
            <label for="location">Location:</label>
            <input type ="text" id="location" name="location" value="<%= event.location %>" required>
        </div>
        <br><br>
      
        
        <input type="submit" value="Update Event">
       
    </form>
</div>

<%- include('../partials/footer.ejs') %>
